    <footer id="footer">
        <a>
            <span class="material-symbols-outlined" id="homepage">
                home
            </span>
        </a>
        <a>
            <span class="material-symbols-outlined">
                link
            </span>
        </a>
        <a>
            <span class="material-symbols-outlined">
                sms
            </span>        
        </a>
        <a>
           <span class="material-symbols-outlined">
                calendar_clock
            </span>
        </a>
        <a>
            <span class="material-symbols-outlined" id="profile">
                person
            </span>
        </a>
    </footer>
</body>
</html>


