    <footer id="footer">
        <a>
            <span class="material-symbols-outlined" id="homepage">
                home
            </span>
        </a>
        <a style="padding-top: 0.1vh;">
            <span class="material-symbols-outlined">
                <img src="/img/Linkup_navicon_inactive.png" id="linkupicon" alt="LinkUp icon">
            </span>
        </a>
        <a>
            <span class="material-symbols-outlined">
                sms
            </span>        
        </a>
        <a>
           <span class="material-symbols-outlined">
                calendar_clock
            </span>
        </a>
        <a>
            <span class="material-symbols-outlined" id="profile">
                person
            </span>
        </a>
    </footer>
</body>
</html>


