<div class="event-template">
    <img src="<%=events.eventPicture %>" alt="event image" class="image">
    <div class="overlay">
        <span class="title"><%=events.eventName %></span>
        <a href="/events" class="read-more">Go to Events</a>
    </div>
</div>