<div id="matched-template">
    <div class="profile-image"> 
        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""> 
    </div>
    <div class="user-details">
        <h4 id="name"><%= matchuser.name %></h4>
        <p>Biography: <%= matchuser.biography %></p> 
    </div>
</div>