<div id="matched-template">
    <div class="profile-image"> 
        <img src="<%= matchuser.profilePicture %>" alt=""> 
    </div>
    <div class="user-details">
        <h4 id="name"><%= matchuser.name %></h4>
        <p>Biography: <%= matchuser.biography %></p> 
    </div>
</div>