<%- include("../partials/header_after") %> 
<link rel="stylesheet" href="/public/css/">

<%- include("../partials/header_between") %> 


<div class="chat-container">
<div class="chat-empty-box">

  <div class="chat-initiation">
      <p>Link up to start chatting!</p>
      <a  href="/matching" class="start-chat-btn">Let's go!</a>
  </div>

</div>


</div>
<%- include("../partials/footer", {currentPath: currentPath }) %> 