<%- include("../partials/header_after") %> 
<link rel="stylesheet" href="/public/css/event_creation.css">

<%- include("../partials/header_between") %> 
<div class="content">
  <h1>Create an event</h1>
  <form action="/submitEvent" method="post">
    <label for="event_picture">Upload a picture for your event</label> <br>
    <input type="file" id="event_picture" name="event_picture" accept="image/*">
    
    <label for="event_title">Event Title:</label> <br>
    <input type="text" id="event_name" name="event_name" required>
    
    <label for="event_date">Date:</label>
    <input type="date" id="event_date" name="event_date" required>
    
    <label for="event_time">Time:</label>
    <input type="time" id="event_time" name="event_time" required>
    
    <label for="event_location">Location:</label>
    <input type="text" id="event_location" name="event_location" required>
    
    <label for="event_access">Access:</label>
    <select id="event_access" name="event_access" onfocus='this.size=4;' onblur='this.size=0;' 
    onchange='this.size=1; this.blur();'>
      <option value="nil">Please select one...</option>
      <option value="public">Anyone can join</option>
      <option value="inviteonly">Invite only</option>
      <option value="approval">Registration needs approval</option>
    </select>

    <label for="event_description">Description:</label>
    <textarea id="event_description" name="event_description" required></textarea>
    
    <label for="event_fees">Fee:</label>
    <input type="number" id="event_fees" name="event_fees" min="0.00" max="10000.00" step="any">
    
    <label for="event_capacity">Seats or capacity:</label>
    <input type="number" id="event_capacity" name="event_capacity">
    <br>
    <button class="create" type="submit">Create Event</button>
   </form>
   <form action="/event_cancelbutton" method="post">
    <button type="submit" class="cancel">Cancel</button>
  </form>
   
  
</div>
<div class="bottomwhitespace"></div>
<%- include("../partials/footer", {currentPath: currentPath }) %> 