<%- include("../partials/header_after") %>
<link rel="stylesheet" href="/css/event_all.css">

<%- include("../partials/header_between") %> 

  <div class="container">
    <div class="header">
      <select name="event_page" id="event_page" onfocus='this.size=1;' onblur='this.size=0;'
        onchange='this.size=1; this.blur();'>
        <option value="event_all">All Events</option>
        <option value="event_my">My Events</option>
      </select>
      <span class="material-symbols-outlined" id="filtericon">
        tune
      </span>
    </div>
    <div id="event-container">
      <% let i=0; %>
      <% for(i=0; i < events.length; i++) { %>
      <%- include('../templates/eventtemplate', {events: events[i]})  %> 
      <% } %> 
    </div>
    <div id="addeventbtn">
      <span class="material-symbols-outlined" id="circle">
        radio_button_unchecked
      </span>
      <span class="material-symbols-outlined" id="plus">
        add
      </span>
    </div>

    <div class="bottomwhitespace"></div>
  </div>

  <%- include("../partials/footer", {currentPath: currentPath }) %>