<%- include('../partials/header_before'); %>
<div class ="login_div">
  <form action='/forgot-password' method='post'>
    <a href="/login" class="btn btn-link p-0 mr-3 text-success">
      <span class="h3 mb-0">&lsaquo;</span>
    </a>
      <h1 class="h5 mb-3 fw-normal">
         Forgot Password?</h1>
      <br>
      <div class="form-floating">
          
          <input name='email' type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
          
      </div>
      <br>
      

      
      <button class="w-100 py-2 mybutton" type="submit">Submit </button>
      
  </form>
  <% if (msg) { %>
    <h2 style='color:#2A8386'>Reset your password</h2>
    <div><%= msg %> </div>
  <% } %>  
</div>

</script>

