<%- include('../partials/header_before'); %>

    <div class="login_div">
        <form action='/signupSubmit' method='post'>
            <h1 class="h5 mb-3 fw-normal">Create your account</h1>
            <br>

            <div class="form-floating">

                <input name='name' type="name" class="form-control" id="username"
                    placeholder="Name">
                <label for="floatingInput">Name</label>
            </div>
            <br>
            
            <div class="form-floating">

                <input name='email' type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>

            </div>
            <br>
            <div class="form-floating">

                <input name='password' type="password" class="form-control" id="floatingPassword"
                    placeholder="Password">
                <label for="floatingPassword">Password</label>

            </div>
            <br>
            
            <button class="w-100 py-2 mybutton" type="submit">Sign up </button>
            <p class="mt-5 mb-3 text-body-secondary"><small>Already have an account? Log in  <a href="">
                        here</a></small></p>
        </form>
    </div>